extends layouts/default
include helpers/mixins

block variables
	- const title = "Denim"

block content
	include ../blocks/modules/header/header
	main
		section
			.section
				.section__top
					h2.section__title Bestsellers
					.section__link.tablet.desktop
						a(href="#") View all
				.section__body
					.section__list.bestsellers
						.section__item
							.section__img
								+picture('jacket', 'jpg', 'bestsellers/')
							.bestsellers__name Jacket
							.bestsellers__price $ 120
						.section__item
							.section__img
								+picture('overalls', 'jpg', 'bestsellers/')
							.bestsellers__name Overalls
							.bestsellers__price $ 140
						.section__item
							.section__img
								+picture('jacket2', 'jpg', 'bestsellers/')
							.bestsellers__name Jacket
							.bestsellers__price $ 90
						.section__item
							.section__img
								+picture('overalls2', 'jpg', 'bestsellers/')
							.bestsellers__name Overalls
							.bestsellers__price $ 160
					.section__link.section__link_bottom.mobile
						a(href="#") View all		
		section
			.section.section_full
				.banner
					.banner__content
						.banner__text
							p Street fashion collection
							h2.section__title.banner__title Fall 2019
							button.btn.banner__btn Shop now
					.banner__img
						+picture("banner", "jpg", "main/")
		section
			.section
				.section__top
					h2.section__title Shop by category
					.section__link.tablet.desktop
						a(href="#") View all
				.section__body
					.section__list.categories
						.section__item.categories__item
							.section__img
								+picture('jeans', 'jpg', 'categories/')
							.categories__name Jeans
						.section__item.categories__item
							.section__img
								+picture('shirts', 'jpg', 'categories/')
							.categories__name Shirts
						.section__item.categories__item
							.section__img
								+picture('overalls', 'jpg', 'categories/')
							.categories__name Overalls
						.section__item.categories__item
							.section__img
								+picture('jackets', 'jpg', 'categories/')
							.categories__name Jackets
					.section__link.section__link_bottom.mobile
						a(href="#") View all	
block scripts
	script(src="js/main.js")