footer
    .footer
        .logo.footer__logo.tablet.desktop
            a(href="/") Nîmes
        ul.footer__nav
            li.footer__link.mobile
                .logo.footer__logo Nîmes
            li.footer__link
                a(href="#") Sitemap
            li.footer__link
                a(href="#") Shop
            li.footer__link
                a(href="#") Service
            li.footer__link
                a(href="#") Delivery
            li.footer__link
                a(href="#") Contacts
        ul.footer__soc
            li.footer__icon
                a(href="#")
                    +svg("facebook")
            li.footer__icon
                a(href="#")
                    +svg("instagram")
            li.footer__icon
                a(href="#")
                    +svg("pinterest")
            li.footer__icon
                a(href="#")
                    +svg("twitter")            